<!DOCTYPE html>
<html lang="en">


    <%- include('./partials/head.ejs') %>   


<body>
    <%- include('./partials/nav.ejs') %>
    
    <div class="about content">
        <h2>ABout Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, <br> adipisicing elit. Quidem saepe eligendi repudiandae enim tempore <br> consequuntur in accusantium quaerat <br> sed cumque, possimus quos quam soluta sunt hic provident <br> facere ullam fugit!</p>
    </div>
<%- include('./partials/footer.ejs') %>
</body>

</html>